<div class="home-wapper">
    <h2 class="header-text border">RxJS in Angular</h2><br/>

    <div class="nav-links">
        <button class="btn btn-dark" [routerLink]="['/observables']">Observables</button>
        <button class="btn btn-dark" [routerLink]="['/operators']">Operators</button>
        <button class="btn btn-dark" [routerLink]="['/subscription-management']">Subscription Management</button>
        <button class="btn btn-dark" [routerLink]="['/async-pipe']">Async Pipe</button>
        <button class="btn btn-dark" [routerLink]="['/http-requests']">HTTP Requests</button>
        <button class="btn btn-dark" [routerLink]="['/event-handling']">Event Handling</button>   
    </div>
</div>
